@using Models.Entities._Ability
@model List<Models.Entities._Ability.Attribute>

<head>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="~/css/chooseattributes.css" asp-append-version="true" />
</head>


<body>
	<div id="create-character-attribute-container">
		<h4 class="points-left">Points left: {{ totalPoints }}</h4>
		@if (Model != null)
		{
			<div class="attribute-grid">

				@foreach (var i in Model)
				{
					<div class="attribute-container">
						<h3 class="attribute-name" data-attribute-name="@i.Name">@i.Name</h3>

						<div class="attribute-content">
							<button class="arrow-btn" v-on:click="decreaseValue('@i.Name')">&#10094;</button>
							<div class="attribute-value" data-attribute-value="{{ attributes['@i.Name'] }}">{{ attributes['@i.Name'] }}</div>
							<button class="arrow-btn" v-on:click="increaseValue('@i.Name')">&#10095;</button>
						</div>

						<div class="attribute-desc" data-attribute-desc="@i.Description">@i.Description</div>
					</div>
				}
			</div>


		}
	</div>
	<hr />
	<button id="go-back-attr-btn">Go Back</button>
	<button id="next-attr-btn">Next</button>



	<script type="module" src="~/js/shared-data.js"></script>
	<script src="~/js/chooseattributes.js"></script>
</body>