@using Models.Entities._Profession
@model List<Profession>

<head>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="~/css/chooseprofession.css" asp-append-version="true" />
	<link rel="stylesheet" href="~/css/createcharacter.css" asp-append-version="true" />
</head>

<body>
	@if (Model != null)
	{
		<div class="create-character-profession-container">
			<div class="profession-slider">
				<button class="btn-left" onclick="plusDivs(-1)">&#10094;</button>
				<div class="profession-items">
					@foreach (var profession in Model)
					{
						string base64String = Convert.ToBase64String(profession.Portrait);
						<div class="profession-container">
							<div class="create-character-profession-name">@char.ToUpper(@profession.Name[0])@profession.Name.Substring(1)</div>
							<img class="create-character-profession-icon" src="data:image/png;base64,@base64String" alt="@profession.Name-image" data-profession-name="@profession.Name" />
							<div id="create-character-profession-desc" data-description="@profession.Description.Substring(0, @profession.Description.IndexOf('.') + 1)">@profession.Description.Substring(0, @profession.Description.IndexOf('.') + 1)</div>
						</div>
					}
				</div>
				<button class="btn-right" onclick="plusDivs(+1)">&#10095;</button>
			</div>
		</div>
		<hr />
		<button id="go-back-prof-btn">Go Back</button>
		<button id="next-prof-btn">Next</button>
	}

	<script type="module" src="~/js/shared-data.js"></script>
	<script src="~/js/chooseprofession.js"></script>

</body>